<section id="agenda" class="feature">
    <div class="row" data-bottom="transform:translateY(-10em)" data--100-bottom="transform:translateY(0em)">
        <h2>Agenda</h2>
    </div>
    <% if @item[:agenda] %>
        <div class="timings">
            <% @item[:agenda].each do |agenda| %>
                <div class="row" style="background:rgba(128, 128, 128, 0.4)">
                    <p><%= agenda[:day] %>
                </div>
                <% agenda[:sessions].each_with_index do |sessions, i| %>
                    <div class="row">
                        <div class="large-4 columns time" id="sessions-<%= i %>"
                        data-bottom="transform:rotateX(90deg) scale(0);opacity:0"
                        data--200-bottom="transform:rotateX(0) scale(1);opacity:1">
                            <p><%= sessions[:time] %><%= " pm" unless sessions[:time].ends_with?('m')%></p>
                        </div>

                        <div class="large-8 columns summary" data-anchor-target="#sessions-<%= i %>"
                        data-bottom="transform:rotateX(90deg) scale(0);opacity:0"
                        data--200-bottom="transform:rotateX(0) scale(1);opacity:1">
                            <p><%= sessions[:title] %></p>
                            <% if sessions[:subtitle] %>
                                <p><small><%= sessions[:subtitle] %></small></p>
                            <% end %>
                            <% if sessions[:image] %>
                                <p><img src="img/speaker/<%= sessions[:image] %>" alt="<%= sessions[:speaker] %>" /></p>
                            <% end %>
                            <% if sessions[:speaker] %>
                                <p><small>By:
                                <% if sessions[:profile] %>
                                    <a href="<%= sessions[:profile] %>" rel="nofollow" target="_blank"><%= sessions[:speaker] %></a>
                                <% else %>
                                    <%= sessions[:speaker] %>
                                <% end %>
                                </small></p>
                            <% end %>
                            <% if sessions[:resources] %>
                                <p><small>Resources:
                                <% sessions[:resources].each_with_index do |resource, i| %>
                                    <a href="<%= resource[:url] %>" rel="nofollow" target="_blank"><%= resource[:title] %></a>
                                    <%= ' &bull; ' if i != sessions[:resources].length - 1 %>
                                <% end %>
                                </small></p>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
    <% else %>
        <div class="row">
             <h3>We will update it soon.</h3>
             <br/>
             <h3>Stay tuned!</h3>
        </div>
    <% end %>
</section>
